/*font-family: 'Overpass', sans-serif;
font-family: 'Playfair Display', serif;*/

/* -- Classes -- */


.align-center {
    align-items: center;
}

.bg-dark {
    background-color: rgb(0, 0, 0, 0.6);
    
}

.border {
    border: 5px solid black;
}

.btn {
    background: white;
    text-decoration: none;
    padding: 1rem 2rem;
    margin: 2rem;
    text-transform: capitalize;
}

/* .center {
    border: 2px solid black;
    height: 100vh;
} */



.fold {
    height: 90vh;
}

.img-small {
    height: 35px;
}

.justify-center {
    justify-content: center;
}

.margin-right {
    margin-right: 20px;
}

.pad-slight {
    padding: 3px;
}

.space-between {
    justify-content: space-between;
}

.text-white {
    color: white;
    text-decoration: none;
}


/* -- Elements -- */

body, html {
    margin: 0;
    padding: 0;
    /*list-style-type: none;*/
    background-image: url("../images/asfalt-light.png");
    background-color: #27062e; 
    overflow-y: hidden;
    
}

a {
    font-family: 'Overpass', sans-serif;
}

h1 {
    font-size: 45px;
    text-align: center;
    background: rgb(0, 0, 0, 0.6);
}

h2 {
    font-size: 45px;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    height: 10vh;
    color: white;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

img {
    height: 80vh;
    margin: auto;
}

/* -- Flex -- */


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}


/* -- Slider -- */


a.prev, a.next {
    height: 91px;
    /*position: absolute;*/
    width: 43px;
    top: 50%;
    /*margin-top: -30px;*/
    opacity: 0.6;
    text-indent: -99999px;
    cursor: pointer;
    -webkit-transition: opacity 200ms ease-out;
    margin: 0;
}

a.prev:hover, a.next:hover {
    opacity: 1;
}

.offleft {
    width: 100px;
    margin-left: -100px;
    font-family: 'Overpass', sans-serif;
    
}

.offright {
    width: 125px;
    font-family: 'Overpass', sans-serif;
    margin-right: -125px;
    text-align: center;
    height: 10vh;
}

.pic {
    display: none;
    height: 100vh;
}

.pic:target {
    display: flex;
    flex-direction: row;
    height: 100vh;
}


.prev {
    left: 0;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}

.next {
    right: 0;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.slider .slide:target {
    z-index: 100;
}

.slider {
    height: 100vh;
    position: relative;
}



















